@model mvcVestibular.Models.Cliente
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@*  @using (Html.BeginForm("actioname", "controllerName"))  *@

@using (Html.BeginForm()) 
{
    <fieldset>
        <legend>Cliente</legend>

        @Html.HiddenFor(client => client.Id)
         <div class="display-label">
            @Html.LabelFor(client => client.Nome) : @Html.DisplayFor(client => client.Nome)
        </div>

        <div class="display-label">
            @Html.LabelFor(client => client.Idade) : @Html.DisplayFor(client => client.Idade)
        </div>

    </fieldset>
    <input type="submit" value="Delete" />
 
}
<p>
    |
        @Html.ActionLink("Back to List", "Index")
</p>

