@model mvcVestibular.Models.Cliente
@{
    ViewBag.Title = "Insert";
}

<h2>Insert </h2>
@using (@Html.BeginForm())
{
@*<fieldset>
        <legend>Cliente</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Idade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Idade)
        </div>

    </fieldset>*@
    
    <fieldset>
        <legend>Cliente</legend>
        
        <p>@Html.ValidationSummary(true)</p>
        @Html.EditorForModel()
    </fieldset>
    <p>
        <input type="submit" value="Create" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
