@model mvcVestibular.Models.Cliente

@{
    ViewBag.Title = "Update";
}

<h2>Update Client</h2>

@using (Html.BeginForm()) {
    <fieldset>
        <legend>Cliente</legend>

        @Html.HiddenFor(client => client.Id)

        <div class="editor-label">
            @Html.LabelFor(client => client.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(client => client.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(client => client.Idade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(client => client.Idade)
        </div>

        <p>
            <input type="submit" value="Save Update" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
