@model List<mvcVestibular.Models.Cliente>
@{
    ViewBag.Title = "Index";
}

<h2>Listagem de Clientes</h2>

@if (TempData["Mensagem"] != null)
{
    <p><strong>@TempData["Mensagem"]</strong></p>
}
<div>
    @Html.ActionLink("Add Client", "Insert")
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    @foreach (var cli in Model)
    {
        <tr>
            <td>@Html.DisplayFor(f=> cli.Id)</td>
            <td>@Html.DisplayFor(f=> cli.Nome)</td>
            <td>@Html.DisplayFor(f=> cli.Idade)</td>
            <td>@Html.ActionLink("Update", "Update", new { id= cli.Id}) | @Html.ActionLink("Delete", "Delete", new { id = cli.Id })  </td>
        </tr>   
    }
</table>

